@model ArtListViewModel


@*@section Styles {
    <link rel="stylesheet" href="/content/StyleSheet.scss)">
}*@


    <h1>@Model.CurrentCategory</h1>
    @foreach (var art in Model.Arts)
    {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" height="200" src="@art.Image" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@art.Title</h5>
                        <p class="card-text">@art.Description</p>
                        <p class="card-text">@art.Price.ToString("c")</p>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            
    }

    